img {
    width: 70%;
    /* height: 36vh */
}

.Demo__search-bar-container {
    width: 80%;
  }
  
.Demo__search-input-container {
    position: relative;
}

.list_map {
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
    padding-bottom: 5vh;
}