img {
    width: 70%;
    /* height: 36vh */
}

.Demo__search-bar-container {
    width: 80%;
  }
  
.Demo__search-input-container {
    position: relative;
}

.list_map {
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
    padding-bottom: 5vh;
}

.list_map_button {
    font-weight: 700;
    color: #B045BA;
}

/* .list_map_border {
    border: 0.5px solid gray;
    border-radius: 10%; 
    padding-top: 10px;

} */
