/* SIGN IN SECTION */
.signin {
  background-color: #FFF0F5;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}

.signin_img, .signin_fam {
  height: 150px;
  width: 150px;
  background-size: cover;
  background-position: center;
  margin: 4% auto;
}

.title_signin {
  font-weight: bold;
  font-size: 30px;
  color: #EE6559;
}

.signin_fam {
  border-radius: 50%;
}

.signin_item {
  padding: 3% 6%;
  border: 1px solid white;
  width: 50%;
  font-size: 20px;
}

.btn_login {
  margin: 15px auto;
  color: white ;
  text-decoration: none;
  background-color: #B045BA;
  transition: all .2s ease-in-out;
}

.btn_login:hover 
{
  background-color: #B045BA;
  color: white ;
  text-decoration:none ; 
  cursor: pointer;  
  transform: scale(1.1);
}



.nav_style {
  background-color: white;
  height: 75px;
  padding-left: 8%;
  padding-right: 5%;
}

.nav_items {
  padding-top: 7px;
}

nav .button-collapse i {
  margin-top: 8px;
  color: #EE6559;
}

nav ul a {
  color: #B045BA;
  font-size: 16px;
  font-weight: bold;
}
.nav_items > li {
  font-size: 50px;
}

nav .brand-logo {
  margin-top: 5px;
  color: #EE6559;
}

nav a:hover {
  text-decoration: none ;
  color: #EE6559 ;
  box-shadow: none;
}

nav ul a:hover {
  transform: scale(1.05);
}

.home_img {
  width: 100%;
  height: 700px;
  background-size: cover;
  background-position: center;
}

/* GET STARTED BUTTON */
.get_started {
  padding: 20px 55px;
  /* background-color: #BED2D8; */
  background-color: #EBEAEF;
  opacity: 0.7;
  font-size: 20px;
  border-radius: 5%;
  color: #EE6559;
  font-weight: bold;
  position: absolute;
  top: 20%;
  border: 1px solid white;
}

.get_started:hover {
  opacity: 0.9;
}

.started_link {
  color: #EE6559 ;
}

.started_link:hover {
  text-decoration: none ;
  box-shadow: none;
  color: rgb(240, 84, 70);
}


/* BENEFIT SECTION*/
.benefits_section {
  margin: 5% 0;
}

.benefit {
  padding: 2% 0;
  text-align: center;
}

.benefit_items {
  margin-top: 4%;
  padding-left: 10%;
  padding-right: 10%;
}

.benefit_img {
  height: 250px;
  width: 250px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin: auto;
}

.benefit_description {
  font-size: 20px;
  font-weight: bold;
  margin-top: 25px;
  color: #B045BA;
}

.benefit_intro {
  font-size: 32px;
  font-weight: bold;
  color: #EE6559;
  /* color: #B045BA; */
}