.wrapping_row {
  margin-top: 15px;
  justify-content: center;
}

.event_card {
  width: 86%;
  font-size: 18px;
}

.event_card_icon {
  margin-right: 5px;
  color: #7A193D;
}

.event_title {
  color: #BA2C73;
  font-weight: bold;
  font-size: 25px;
}