.all_events {
  display: flex;
  margin: 0 5%;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.not_found_events {
  width: 100%;
  height: 100%;
}

.not_found_text {
  font-weight: bold;
  color: #B045BA;
  font-size: 18px;
  text-align: center;
}

.section_text {
  color: #B045BA;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
}

.no_event_pic {
  width: 300px;
  height: 200px;
}

.event_block {
  margin: 60px auto;
  justify-content: center;
}

.wrapping_row {
  margin-top: 10px;
  justify-content: center;
}

.row {
  justify-content: center;
}